.checkout-product {
  display: flex;
  width: 90%;
  /* background: red; */
}
.checkout-product > img {
  margin-right: 10px;
  /* height: 80px; */
  width: 80px;
  object-fit: cover;
}
.checkout-product-details {
  position: relative;
  top: -5px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
}
#checkout-product-total {
  position: relative;
  /* top: 50%; */
  /* right: 40px; */
  margin: auto 0 20px auto;
}
