.header-section {
  height: 382px;
  background: var(--bannner-bg-color);
  /* background: #dbe0e3; */
  position: relative;
}
.header-text-container {
  font-family: var(--body-font);
  font-weight: var(--fw-regular);
  font-weight: 200;
  font-size: 66px;
  color: var(--black-nero);
  /* line-height: 1.2em; */
  line-height: 79.2px;
  max-width: 37%;
  /* background: red; */
  position: absolute;
  top: -20%;
  left: 15%;
}
.header-img-container {
  width: 362px;
  /* width: 262px; */
  height: 482px;
  position: absolute;
  top: -30%;
  right: 15%;
  /* right: 202px; */
}
.offers-section {
  margin-top: 6.8%;
  /* margin-top: 93px; */
  display: grid;
  grid-template-columns: repeat(4, 214px);
  column-gap: 63px;
  justify-content: center;
}
.offer {
  max-width: 214px;
  margin: 0 0 130px 0;
}
.offer-heading-container {
  display: flex;
  /* background: red; */
  width: 250px;
}
.offer-img-container {
  width: 30px;
  height: 25px;
  position: relative;
  right: 40px;
}
.offers-cart-icon {
  width: 68px;
  right: 60px;
}
.offer-img-container > img {
  filter: invert(80%) sepia(5%) saturate(4446%) hue-rotate(167deg)
    brightness(86%) contrast(79%);
}
.offer-heading {
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: var(--fw-regular);
  font-size: calc(1.5rem - 2px);
  position: relative;
  right: 29px;
  margin: 0 0 10px 0;
}
.offers-delivery {
  right: 60px;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: 380px;
  max-width: 238px;
}
.product-card-top {
  position: relative;
  height: 238px;
  /* margin-bottom: 46px; */
  /* background: yellow; */
  /* width: 238px; */
}
.card-img-container {
  position: absolute;
  top: 0;
  height: 288px;
  width: 238px;
}
.card-img-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-btn-container {
  z-index: 1;
  position: absolute;
  top: 7.8%;
  /* top: 21px; */
  right: 9%;
  /* right: 21px; */
  height: 38px;
  width: 38px;
  display: none;
}
.product-card-top:hover .card-btn-container {
  display: block; /* show btn on product image hover*/
}
.card-btn-container .tooltip-text {
  width: 100px;
  padding: 5px 0;
  background: var(--blue-charcoal);
  border: 1px solid var(--blue-charcoal);
  color: white;
  opacity: 0.9;
  border-radius: 2px;
  position: absolute;
  right: 123%;
  cursor: text;
  display: none;
}
.card-btn-container .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 23%;
  left: 100%;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent var(--blue-charcoal);
}
.card-btn-container:hover .tooltip-text {
  display: block;
}
.card-button {
  display: flex;
  align-items: center;
}
.card-cart-icon-container {
  width: 100%;
  height: 20px;
}
.card-cart-icon {
  transform: scale(-1, 1);
  /* filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(86deg) */
  /* brightness(99%) contrast(103%); */
}
.product-card-body {
  height: 122px;
  /* background: yellow; */
  max-width: 238px;
  position: relative;
  top: 18.5%;
  /* top: 66px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.product-name {
  /* height: 22px; */
  font-weight: var(--fw-regular);
  font-size: 1rem;
}
.product-category {
  /* font-family: var(--heading-font); */
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--gray);
}
.product-price {
  /* height: 19px; */
  font-weight: var(--fw-bold);
  font-size: 0.85rem;
  color: var(--charcoal);
}
.products-container {
  display: grid;
  grid-template-columns: repeat(5, 238px);
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  /* grid-row-gap: 68px; */
  justify-content: center;
  background: var(--products-container-bg-color);
  /* background-color: gold; */
}
.shop-container {
  /* background-color: red; */
}

.load-more-btn-container {
  width: 141px;
  height: 48px;
  margin: 38px auto;
}
.newsletter-section {
  position: relative;
  margin: 0 auto;
  width: 1140px;
  height: 201px;
  background: var(--blue-charcoal);
  color: var(--white);
}
.newsletter-text-container {
  position: absolute;
  top: 63px;
  left: 58px;
  width: 519px;
  height: 58px;
  /* background: greenyellow; */
}
.newsletter-text-container > h1 {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
}
.newsletter-text-container > p {
  color: var(--dark-gray);
  font-family: var(--casual-font);
  font-size: 1.1rem;
  margin: 10px 0 0 0;
}

.newsletter-email-container {
  position: absolute;
  top: 77px;
  right: 58px;
}
.newsletter-email-container > form {
  display: flex;
}
.newsletter-email {
  width: 278px;
  height: 45px;
  font-size: 1rem;
  padding: 0 0 0 12px;
  letter-spacing: 1.5px;
  color: var(--black-nero);
}
.newsletter-btn {
  font-family: var(--body-font);
  font-weight: var(--fw-bold);
  font-size: var(--fs-20);
  background: var(--lighter-blue);
  color: var(--white);
  border: 1px solid var(--lighter-blue);
  line-height: 19.84px;
  cursor: pointer;
  border-radius: 2px;
  height: 45px;
  width: 189px;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* position: relative; */
  margin: 0 0 0 -1px;
}
