.offers-section {
  margin-top: 6.8%;
  /* margin-top: 93px; */
  display: grid;
  grid-template-columns: repeat(4, 214px);
  column-gap: 63px;
  justify-content: center;
}
.offer {
  max-width: 214px;
  margin: 0 0 130px 0;
}
.offer-heading-container {
  display: flex;
  /* background: red; */
  width: 250px;
}
.offer-img-container {
  width: 30px;
  height: 25px;
  position: relative;
  right: 40px;
}
.offers-cart-icon {
  width: 68px;
  right: 60px;
}
.offer-img-container > img {
  filter: invert(80%) sepia(5%) saturate(4446%) hue-rotate(167deg)
    brightness(86%) contrast(79%);
}
.offer-heading {
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: var(--fw-regular);
  font-size: calc(1.5rem - 2px);
  position: relative;
  right: 29px;
  margin: 0 0 10px 0;
}
.offers-delivery {
  right: 60px;
}
