.pre-navbar {
  height: 80px;
  width: 100%;
  background: var(--black);
  position: relative;
}
.pre-navbar .form-error-msg {
  position: absolute;
  left: 10%;
}
.navbar-search-form {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: calc(50% - 15px);
  left: 10%; /* search-field-width minus search-icon-width = 581px */
}
.navbar-search-field {
  height: 40px;
  width: 626px;
  padding-left: 11px;
  border: 1px solid transparent;
  border-radius: 1px;
}
.navbar-search-field:focus {
  outline: 2px solid var(--yellow-color);
}
.navbar-search-icon {
  background: var(--yellow-color);
  border: 1px solid transparent;
  height: 40px;
  width: 45px;
}
.shopping-bag {
  position: absolute;
  height: 60px;
  top: 9%;
  right: 15%;
}
.shopping-bag a {
  /* text-decoration: none; */
}
.shopping-bag-img-container {
  width: 60px;
}
.bag-items-count {
  position: absolute;
  top: 5%;
  right: 15%;
  color: white;
  font-family: var(--body-font);
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}
.main-navbar {
  font-family: var(--heading-font);
  height: 90px;
  background: var(--navbar-bg-color);
  position: relative;
  display: flex;
  align-items: center;
}
.company-logo-container > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transform: scale(1.4);
}
.navbar-company-logo {
  position: absolute;
  left: 2.5%;
  top: 25%;
}

.main-navbar-links {
  position: absolute;
  top: 50%;
  left: 39.5%;
  list-style: none;
  display: flex;
}
.main-navbar-links > li {
  margin-right: 40px;
}
.main-navbar-links a {
  text-decoration: none;
  color: var(--black-charcoal);
  letter-spacing: 0.5px;
}
.main-navbar-links a:hover {
  color: var(--violet);
}

.user-profile {
  position: absolute;
  right: 4%;
}
