:root {
  --body-font: "Lato", sans-serif;
  --heading-font: "Jost", sans-serif;
  --navbar-bg-color: #f8f9fa;
  --bannner-bg-color: #edf1f3;
  --white: #ffffff;
  --blue-charcoal: #212529;
  --black-nero: #272727;
  --dark-gray: #aeaeae;
  --lighter-blue: #72aec8;
}
